.mobile-menu-links {
    display: none;
    
}
body{
/* position: absolute; */
}


@media (max-width: 600px) {
   
    .mobile-menu-links {
        visibility: hidden;
        display: none;
        
        /* background: red; */
        /* box-shadow: 0px 8px 16px 10px rgba(205, 218, 240, 0.79); */
        border-radius: 15px;
        /* border: 3px solid red; */
        /* float: right; */
        width: 100%;
        /* color: red; */
       position: relative;
        /* flex-direction: row;
        justify-content: end; */
        /* margin-left: 180px; */

        

    }
    .mobile-menu-links-container{
        box-shadow: 0px 8px 16px 10px rgba(205, 218, 240, 0.79);
        border-radius: 15px;
        width: 60%;
        padding: 1rem;
        /* border: 2px solid red; */
        background: #ffffff;
        /* box-shadow: 0px 8px 16px rgba(205, 218, 240, 0.79); */
        /* margin: 0 auto; */
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
        margin-left: auto;
        margin-right: 60px;

        top: 55%;
        left: 58%;
        /* top: 16%;
        left: 48%; */
        opacity: 5;
        position: absolute;
        transform: translate(-50%, -50%) ;
        transition: transform 0.4s, top 0.4s;
        /* -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.088, 0.443, 0.160, 0.863) 1s both;
        animation: swing-in-top-fwd 1s cubic-bezier(0.088, 0.443, 0.160, 0.638) 1s both; */
        
    }
    
    /* .mobile-menu-links a:hover{
        cursor:auto;
    } */
    .mobile-menu-links .mobile-menu-cards:hover{
        background: rgba(204, 223, 255, 0.33);
        /* background: red; */
    }
   
    .mobile-menu-links-container .mobile-menu-cards {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        /* justify-content: end; */
        /* background: rgba(204, 223, 255, 0.33); */
        background: #FFFFFF;
        border-radius: 7px;
        width: 180px;
        /* max-width: 50px; */
        margin: 1rem auto;
        padding: 0.5rem 1rem;
        /* justify-content: space-between; */
    }
     .mobile-menu-cards a{
        display: flex;
        flex-direction: row;
        justify-content: start;
        /* border: 2px solid brown; */
        width: 100%;
        text-decoration: none;
    }
    
   .mobile-menu-logo {
        /* border: 2px solid blue; */
        width: 40%;
        /* min-width: 200px; */
        /* *min-width: 25px; */
        /* margin-left: 1em;
        margin-top: .5em; */
    }
    .mobile-menu-text{
        /* border: 2px solid green; */
        width: 60%;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .mobile-menu-logo img {
        width: 65%;
        /* display: flex;
        flex-direction: row;
        justify-content: center; */

        /* margin: 0 auto; */
    }
    
    
    
    .mobile-menu-cards .text p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.0005em;
        color: #535456;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobile-menu-open-popup {
        visibility: visible;
        display: flex;
        display: contents;
        position: absolute;
        z-index: -5;
       
       
    }



    /* mobile menu */
    .mobile-header_btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid red; */
        visibility: visible;
        width: 30%;
        position: relative;
    }

    .mobile-header_btns img:hover {
        cursor: pointer;
    }

    .mobile-header_btns img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
    }

    .mobile-header-links {
        display: contents;
        padding: 10px;
    }

    /* end of mobile menu */
}


