* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'poppins';
  }
  
  .Profile {
    padding: 3% 5%;
  }

  .profile__card {
    overflow-y: scroll;
  }

  .profile__head {
    display: flex;
    justify-content: space-between;
  }
  
  .profile__head h5 {
    color: #003180;
    font-size: 22px;
    font-weight: 700;
  }
  
  .add{
      display:none;
  }
  
  .logout-primary{
      display:none;
  }
  
  .btn,
  .btn-primary,
  .btn-secondary,.logout-primary{
    width: 170px;
    height: 54px;
    border: none;
    outline: none;
    background: #0051d4;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
  }
  
  .btn-primary,.logout-primary{
    border: 1px solid #f1510c;
    background: transparent;
    color: #f1510c;
  }
  
  .btn:hover {
    background: #80b0ff;
  }
  
  .btn-secondary {
    margin: 80px 200px;
  }
  
  .btn-secondary:hover {
    background: #80b0ff;
  }
  
  .container {
    padding: 3% 5%;
    margin: 0 auto;
    display: flex;
  }
  
  .card__body {
    width: 600px;
    height: 726px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(205, 218, 240, 0.79);
    border-radius: 20px;
    margin-top:50px;
  }
  
  .img-card {
    display: grid;
    place-items: center;
    position: relative;
    bottom: 40px;
  }
  
  .img-card img {
    width: 200px;
    height: 200px;
    border: 7px solid #0061ff;
    border-radius: 150px;
  }
  .images {
    position: absolute;
    margin-left: 24%;
    background-color: #0061ff;
    border: none;
    border-radius: 150px;
    width: 50px;
    height: 50px;
    margin-top: -90px;
  }
  
  .images img {
    width: 32px;
    height: 22px;
    margin: 12px 10px;
  }
  
  .text h6 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #003180;
  }
  
  .text p {
    text-align: center;
    font-size: 17.5px;
    font-weight: 400;
    color: #101111;
    margin-top: 5px;
  }
  
  .text-edit {
    display: flex;
    align-items: center;
    margin-left: 39%;
  }
  
  .text-edit img {
    width: 15.49px;
    height: 15.49px;
    margin-left:10px;
  }
  
  .card {
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding-top: 40px;
  }
  
  .card h5 {
    color: #002055;
    font-size: 18px;
    font-weight: 500;
    margin-right: 150px;
    width: 100%;
  }
  
  .card p {
    font-size: 14px;
    color: #002055;
    text-align: left;
    width: 100%;
    margin-left: -230px;
  }
  
  .card img {
    margin-right: 50px;
  }
  
  hr {
    width: 50%;
    margin: 0 40%;
  }
  
  .profile__card {
    width: 627px;
    height: 774px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(205, 218, 240, 0.79);
    border-radius: 20px;
    margin-left: 50px;
    margin-bottom:150px;
  }
  
  .profile__card h5 {
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    color: #003180;
    font-weight: 700;
  }
  
  .profile__card-flex {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #80b0ff;
    border-radius: 10px;
    width: 520px;
    height: 80px;
    margin-left: 40px;
  }

  .profile__card-flex img {
    cursor: pointer;
  }
  
  .card_flex {
    border: 2px solid #0061ff;
  }
  
  .round-img {
    background-color: #ccdfff;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 10px;
  }
  .round-img img {
    width: 15px;
    margin: 10px 10px;
  }
  
  .profile__card-flex p {
    font-size: 12px;
    font-weight: 400;
    margin-right: 56%;
    white-space: nowrap;
  }
  
   .circle-img {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #ccdfff;
    margin: 10px;
  }
  
  .circle-img img {
    margin: 6px;
  }
  
  /* media Query */
  
  @media screen and (max-width: 768px) {
    .profile__head {
      display: flex;
      justify-content: space-between;
      margin: 10px 0px 10px 0px;
    }
  
    .btn,
    .btn-primary {
      width: 120px;
      height: 40px;
      font-size:15px;
    }
    .btn-primary {
      border: 1px solid #f1510c;
      background: transparent;
      color: #f1510c;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      margin: 100px 50px;
    }
  
    .card__body {
      margin-bottom: 80px;
      margin-top:-15px;
    }
  
    .btn-secondary {
      margin-top: 80px;
      width: 170px;
      height: 54px;
      margin-left: 210px;
    }
  
    .profile__card {
      margin-left: -15px;
      margin-bottom:20px;
    }
  
    .profile__card-flex {
      margin-left: 50px;
    }
  
    .profile__card h5 {
      font-size: 17.5px;
  
    }
  
    .images {
      margin-left: 45%;
    }
  }
  
  @media screen and (max-width: 425px) {
      body{
          background-image:url('../images/about\ and\ profile.svg');
          background-repeat: no-repeat;
          background-size: cover;
      }
  
      .profile__head h5 {
         margin: auto;
         padding-top:100px;
        }
  
    .container {
      display: flex;
      flex-direction: column;
      margin: 100px 5px;
    }
    .card__body {
      width: 380px;
      height: 550px;
      margin-left: -5px;
    }
  
    .btn ,.btn-primary{
      display:none;
    }
    .btn-secondary {
      display: grid;
      margin: 60px 100px;
      font-family:'poppins';
      font-size:15.5px;
  
    }
  
    .img-card img {
      width: 100px;
      height: 100px;
    }
  
    .images {
      margin-left: 50%;
      width: 30px;
      height: 30px;
      margin-top: -70px;
    }
  
    .images img {
      width: 15px;
      height: 12px;
      margin: 8px 8px;
    }
  
    .text h6 {
      font-size: 16px;
    }
  
    .text p {
      font-size: 16px;
    }
  
    .img__flex{
      display:flex;
      justify-content:space-between;
    }
    .add{
      display:grid;
      margin-top: -70px;
      margin-bottom:50px;
      text-align: left;
      font-size: 22px;
      font-weight: 700;
    }
  
    .add img{
      margin-right:40px;
    }
  
    .profile__card {
      width: 380px;
      height: 774px;
      margin-left: -3px;
      margin-top: 200px;
    }
  
    .card h5 {
      font-size: 12px;
    }
  
    .card p {
      font-size: 10px;
      width: 100%;
      margin-left: -200px;
    }
  
    .card img {
      margin-right: 30px;
    }
  
    .profile__card-flex {
      width: 330px;
      height: 80px;
      margin-left: 25px;
     
     
    }
  
    .profile__card h5 {
      margin-top: -70px;
      text-align: left;
      font-size: 22px;
      font-weight: 700;
    }
    
    .profile__card-flex p {
      font-size: 12px;
      font-weight: 400;
      margin-right: 30%;
      white-space: nowrap;
    }
  
  
    .logout-primary{
      display:block; 
      margin:-70px 0 100px 120px;
      Width:170px;
      Height:54px;
      font-family:'poppins';
  }
  
  }
  
  @media screen and (max-width: 375px){
      .card__body {
          width: 330px;
          height: 550px;
          margin-left: -1px;
        }
  
        .btn-secondary {
          display: block;
          margin: 60px 80px;
        }
        .text-edit {
          display: flex;
          align-items: center;
          margin-left: 33%;
        }
        
      .profile__card {
          width: 330px;
          height: 774px;
          margin-left: -1px;
          margin-top: 150px;
        }
        .profile__card-flex {
          width: 295px;
          height: 80px;
          margin-left: 20px;
        }
        .profile__card-flex p {
          margin-right: 20%;
        }
        .profile__card h5 {
          margin-top: -70px;
        }
        .add{
          margin-top: -70px;
          margin-bottom:20px;
          text-align: left;
          font-size: 22px;
          font-weight: 700;
        }
      
        .add img{
          margin-right:40px;
        }
  }
  
  
  @media screen and (max-width: 320px){
  
      .text-edit {
          margin-left: 31%;
        }
  
        .btn-secondary{
          margin: 60px 50px;;
      }
      
      .card__body {
          width: 280px;
          height: 550px;
          margin-left: 0px;
        }
        .card h5{
          font-size: 10px;
          font-weight:500;
        }
        .card p {
          font-size: 10px;
          color: #002055;
          text-align: left;
          width: 100%;
          margin-left: -200px;
          font-weight:500;
        }
        
        .card img {
          margin-right: 20px;
          width:10px;
        }
        
        hr{
          width:50%;
          margin: 0 42%;
        }
  
      
      .profile__card {
          width:280px;
          height: 700px;
          margin-left: 0px;
          margin-top: 120px;
        }
        .profile__card-flex {
          width: 250px;
          height: 80px;
          margin-left: 15px;
        }
        .profile__card-flex p {
          margin-right: 8%;
        }
        .profile__card h5 {
          margin-top: -50px;
          font-size:18px;
        }
        .circle-img {
          width: 25px;
          height: 25px;
          border-radius: 50px;
          background-color: #ccdfff;
          margin: 5px;
        }
        
        .circle-img img {
          margin: 6px;
        }
        
        .add{
          margin-top: -50px;
          margin-bottom:20px;
          text-align: left;
          font-size: 22px;
          font-weight: 700;
        }
      
        .add img{
          margin-right:40px;
        }
        
        .logout-primary{
          margin:-70px 0 100px 70px;
          Width:170px;
          Height:54px;
          font-family:'poppins';
      }
  }