@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
p {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 400;
  color: #002055;
}

body {
    background-image: url("../images/registration\ pages.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #0051D5;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* column-gap: 50px; */
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    height: 100vh;
}


.container > div {
    text-align: center;
}

.container > div > h2 {
    margin: 2rem 0;
}


.welcome h2 {
    font-size: 27px;
    margin-bottom: 24px;
}

.welcome  p {
    max-width: 348px;
    text-align: center;
    margin: auto auto;
}

 span {
    color: #002055;
}

.intro {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 8px;
}

.oauth_icons{
    margin-top: 43px;
    margin-bottom: 13px;
}

.oauth_icons img {
    padding:0 25px;
}

.option-2 {
    margin-bottom: 7px;
}

.card {
    display: block;
    margin: auto auto;
    width: 90%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.field {
    width: 90%;
    margin: 10px auto;
}
.field label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #002055;
    text-align: start;
}

.field img {
    padding-top: 1%;
    padding-left: 1%;
    position: absolute;
    display: inline;
    color: #757678;
    font-size: 25px;
}

.field input {
    display: inline;
    width: 100%;
    border-radius: 3px;
    padding: 10pt 35pt;
    border: 1px solid #002055;
    color: #757678;
    background-color: #f8f9fc;
    font-size: 15.5px;
}

.error {
    display: absolute;
    color: #F1510C;
    font-size: 12px;
    text-align: start;
    margin: 5px 10px;
}

#general-error {
    font-size: 14px;
    color: #F1510C;
    text-align: center;
}

#redirect-error {
    font-size: 27px;
    color: #F1510C;
    text-align: center;
    margin: 1rem;
}

.invisible {
    display: none !important;
}


.invalid {
    background: url("images/icon-error.svg") no-repeat scroll 97% 10px;
    border: 2px solid #F1510C !important;
}

.card  button {
    display: block;
    margin: 26px auto;
    padding: 13px 25px;
    color: #fff;
    background-color: #0061FF;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    width: 20%;
}

.card button:hover {
    cursor: pointer;
    background-color:#80B0FF;
}

.sign-in {
    padding: 25px 0;
    text-align: center;
    font-size: 12px;
}

.terms {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 12px;
}

.terms > span {
    color:#ff7979;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    body {
        background-image: url("../images/tablet\ signup\ page.png");
    }
    

    .container {
        grid-template-columns: auto;
    }

    .container > div {
        margin: 2rem auto;
    }
}


@media screen and (max-width: 768px) {
    body {
        background-image: url("../images/mobile\ signup\ page.png");
    }

    .container {
        grid-template-columns: auto;
        padding: 2rem 1rem;
        margin-top: 4rem;
    }
    .container > div {
        text-align: center;
    }
    .header {
        margin-bottom: 15px;
    }

    .welcome {
        display: none;
    }
    .oauth_icons img {
        padding:0 20px;
    }
    h2 {
        font-size: 24px;
        margin: 1rem auto;
    }

    .container > div > p {
        margin-bottom: 20px;
    }
    
    .card  button {
        width: 30%;
    }

    .terms {
        font-size: 11px;
    }

    #general-error {
        font-size: 15px;
    }

    #redirect-error {
        font-size: 24px;
    }
    
    
}

@media screen and (max-width: 375px) {
    .container {
        padding: 1rem 0.2rem;
    }
    .card  button {
        width: 40%;
    }

    .terms {
        font-size: 10px;
    }

    #general-error {
        font-size: 12px;
    }
    
}
