.body {
  overflow: hidden;
}

main .head-text h2,
h4 {
  /* align-items: center;
margin: 0 auto; */
  /* padding-left: 200px; */
  /* color: white; */
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

main .head-text h2 {
  color: #2b7bff;
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 112%;

  letter-spacing: 0.0005em;
}

main .head-text h4 {
  color: #002055;
  padding-top: 2rem;
  padding-bottom: 4rem;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.0005em;
}

.text-generate-container {
  width: 80%;
  /* border: 2px solid red; */
  margin: 0 auto;
  box-shadow: 2px 10px 18px rgba(205, 218, 240, 0.79);
  margin-bottom: 5rem;
}

/* .text-generate-container .top{
border: 2px solid yellow;


} */
.text-generate-container .top h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 112%;
  letter-spacing: 0.0005em;
  color: #2b7bff;
  padding: 2rem;
}

.text-generate-container .bottom {
  /* border: 2px solid green; */
  /* display: flex;
    flex-direction: row;
    justify-content: center; */
  padding: 2rem;
}

/* input */
form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input[type=text],
input[type=number] {
  padding: .3rem 0;
  padding-left: 1rem;

}

select {
  padding: .5rem 0;
  /* padding-left: .5rem; */
}

input,
select {
  background-color: #ffffff;
  /* width: 230px; */
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #0051D5;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15.5px;
line-height: 30px;
/* identical to box height, or 194% */

display: flex;
align-items: center;
letter-spacing: 0.0005em;
color: #757678;
}

.bottom-buttons {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15.5px;
  line-height: 30px;
  letter-spacing: 0.0005em;
  color: #757678;

  /* border: 2px solid red; */
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom-button-container {
  /* border: 2px solid yellow; */
  width: 50%;
  display: flex;
  justify-content: center;
}

.downloadbtn {
  /* margin-left: 2rem; */
  background-color: white;
  width: 150px;
  height: 50px;
  /* left: 409px;
  top: 419px; */
  background: #0041aa;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0005em;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid #0041aa;
  /* margin-right: 25px; */
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
}

.downloadbtn:hover {
  background: #80B0FF;
  color: white;
  transition-delay: 0.1s;
  border: none
}

.previewbtn {
  margin-left: 2rem;
  background-color: white;
  width: 150px;
  height: 50px;
  left: 409px;
  top: 419px;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0005em;
  color: #0041aa;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid #0041aa;
  /* margin-right: 25px; */
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
}

.previewbtn:hover {
  background-color: #80b0ff;
  border: none;
  color: white;
  transition-delay: 0.1s;
}


/* input,select{
    width: 100px;
   
} */
.form-element {
  width: 32%;
  /* border: 2px solid red; */
  margin-bottom: 2.5rem;
}

main form label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.0005em;
  color: #002055;
  /* margin-bottom: 10rem; */
}

.form-holder {
  /* border: 2px solid blue; */
  width: 100%;
}

form .top-row {
  /* border: 2px solid red; */
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

form .bottom-row {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
}




.downloadbutton {
  margin-top: 2rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-picker{
  width: 100%;
  border: 2px solid red;
}
.pickr .pcr-button {
  width: 100% !important;
}

@media (max-width: 600px) {

  input,
  select {
    width: 400px;
  }

  .header_btns {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .previewbtn,
  .downloadbtn {
    /* display: flex;
        flex-direction: row;
        justify-content: center; */
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  

  .bottom-button-container {
    flex-direction: column;
  }
  .top-row,.bottom-row{
    flex-direction: column;
  }
  .form-element{
    /* border: 2px solid red; */
    width: 100%;
  }
}